{% extends 'layouts/master.twig' %}

{% block head %}
    {% if MODE == "development" %}
        <link rel="stylesheet" href="{{STATIC_URL}}dev/css/wait.css" />
        <script src="http://localhost:35729/livereload.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}dev/js/wait.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}dev/js/template.js"></script>
    {% endif %}
              
    {% if MODE == "production" %}
        <link rel="stylesheet" href="{{STATIC_URL}}css/wait.min.css?v={{ "../public/css/wait.min.css" | md5 }}" />
        <script type="text/javascript" src="{{STATIC_URL}}js/wait.min.js?v={{ "../public/js/wait.min.js" | md5 }}"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/template.min.js?v={{ "../public/js/template.min.js" | md5 }}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    
    <div class="bg bg--wait"></div>

    <div class="wait" ng-controller="WaitCtrl">

        <div class="wait__intro">
            <h1>Jeu d'influences</h1>
            <p class="wait__intro__lead">
                Jusqu'où suivrez-vous votre Spin Doctor ?
            </p>
            <p>
                Une fiction documentaire jouable au coeur de la communication de crise.
            </p>
            <p class="wait__intro__start">
                Début de l'aventure le 6 mai
            </p>
        </div>

        <div class="wait__subscribe">
            <p>Laissez votre adresse pour être tenu au courant de l'ouverture</p>       
            <form class="form-horizontal wait__subscribe__form" role="newsletter" ng-submit="submit()" name="form">                     
                <input class="form-control" placeholder="email@exemple.org" ng-model="email" required type="email" class="form-control" /> 
                <button type="submit" class="wait__subscribe__form__submit btn btn-default" ng-disabled="form.$invalid">OK</button>                
            </form>
            <div class="alert alert-danger form-horizontal wait__subscribe__alert" ng-show="error">
                <button type="button" class="close" aria-hidden="true" ng-click="error = false">&times;</button>
                Nous n'avons pas pu enregistrer votre email.
            </div>            
            <div class="alert alert-success form-horizontal wait__subscribe__alert" ng-show="success">
                <button type="button" class="close" aria-hidden="true" ng-click="success = false">&times;</button>
                Inscription réussie!
            </div>
        </div>
    </div>

    {% include 'partials/nav-lite.twig' %}
    
{% endblock content %}
